/* Layout sizing */
html,
body,
#app {
    height: 100dvh;
    width: 100dvw;
}

/* Form elements */
input:not([type='checkbox']),
select,
textarea {
    @apply rounded-lg;
}

input:is([type='checkbox']) {
    @apply rounded-sm;
}

input[type='checkbox']:checked {
    @apply bg-primary-main;
}

label,
input,
select {
    @apply mb-1 text-sm;
}

label {
    @apply font-medium;
}

.input-error {
    @apply bg-error-lighter text-error-main mt-1 rounded-md px-3 py-1.5 text-sm;
}

[type='text']:focus,
input:where(:not([type])):focus,
[type='checkbox']:focus,
[type='radio']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    --tw-ring-color: var(--color-primary-main);
    border-color: var(--tw-ring-color);
}

/* Base button */
button {
    @apply cursor-pointer rounded-lg;
}
